! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
~~~~~~~~ Start Utility classes ~~~~~~~~~
*/
.div-img-phone {
    width: 100%;
}

.div-img-slider {
    width: 40%;
}
.div-img-tab {
    padding: 0;
    width: 50%;
}

.inline-block {
    display: inline-block;
}

.div-infos {
    width: 50%;
    margin: auto;
}

.infos-a {
  padding: 7px;
  border-radius: 0em 0em 1em 0em;
  background-color:#D11301;
}

.savoir {
    border-radius: 0px 8px 8px 0px;
    padding: 8px;
    background-color:#f95b4C;
    margin-left: -4px;
    font-size: 14px;
}

.partager {
    border-radius: 8px 0px 0px 8px;
    padding: 8px;
    background-color:#ea2816;
}

#linkGrue {
    padding: 8px;
    border-radius: 1em;
    background-color:#D11301;
    margin-left: -4px;
}
.marques-a {
  padding: 0.8em;
  border-radius: 1em;
  background-color:#D11301;
}

.t-white {
    color: white;
}

.t-gray {
    color: gray;
}

.t-orange {
    color: #F86624;
}
 

.overflowHidden {
    overflow: hidden;
}

.noPadding {
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(226, 226, 226);
    height: 100%;
}

.linkContainer{
    position: absolute;
    bottom: 5px;
    right: 0;
}

.linkContainer a {
    font-size: 11px;
}

.infoContainer{
    border-radius:1em;
}

a {
    color: black;
}

/*
~~~~~~~~ End Utility classes ~~~~~~~~~
*/



/*
~~~~~~~~ Start Common rules ~~~~~~~~~
*/

a {
    color: white;
}
img {
    width: 100%;
}

.card-img{
    width: auto;
    height: 200px;
}

.card-text{
    background: rgb(226, 226, 226);
    border-radius: 1em 1em 1em 1em;
}

.img-border {
    border-radius: 1em 1em 0em 0em; 
}
.card-text h2,p {
    font-size: 11px;
    margin: 1em;
}

h1 {
    font-size: 1em;
}
h2 {
    margin-top: 2em;
    padding: 0;
    font-size: 1em;
    color:#D11301;
}

p {
    text-justify: auto;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}
.relative {
    position: relative;
}
/*
~~~~~~~~ End Common Rules ~~~~~~~~~
*/



/*
~~~~~~~~ Start Header rules ~~~~~~~~~
*/

.navLangue-tab {
    position: absolute;
    top: 0em;
    right: 3em;
    padding: 1em;
    border-radius: 0em 0em 1em 1em;
    background-color:#D11301;
}

.navLangue-phone {
    padding: 5px;
    border-radius: 4px 4px 4px 4px;
    border:solid 1px gray;
}
#logo {
    width: 100%;
    margin-top: 1em;
}

#texteGrue {
    width: 25%;
    position: absolute;
    top: 5%;
    right: 22%;
}

.nacelles {
    padding: 8px;
    background-color: #B10F01;
    border-radius: 8px 0px 0px 8px;
    }

.btp {
    padding: 8px;
    background-color: #cf1302;
    margin-left: -4px;    
}

.location {
    margin-left: -4px;
    padding: 8px;
    background-color:#ea2816;
    
}

.batiment {
    margin-left: -4px;
    padding: 8px;
    background-color:#f95b4C;
    border-radius: 0px 8px 8px 0px;
    width: 20%;
}

#kaio {
    color: #cf1302;
}

.divLink {
    padding: 7px;
}
.mTop {
    margin-top:2em;
}

.mRight {
    margin-right: 2em;
}

.mBot {
    margin-bottom:3em;
}
.navBar-phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar-tab{
    color: white;
    padding: 1em;
    border-radius: 12px;
    background-color:#D11301;
}


/*
~~~~~~~~ End Header Rules ~~~~~~~~~
*/



/*
~~~~~~~~ Start Main rules ~~~~~~~~~
*/

/*
~~~~~~~~ End Main Rules ~~~~~~~~~
*/


@media screen and (min-width: 992px) {
    .linkContainer{
        position: absolute;
        bottom: 3px;
        right: -3px;
    }

    .linkContainer a {
        font-size: 10.6px
    }

    .savoir {
        padding: 0.5em;
        border-radius: 0em 0em 1em 0em;
    }

    .partager {
        padding: 0.5em;
        border-radius: 0;
    }

    .nacelles {
        padding: 0.5em;
        background-color: #B10F01;
        margin-left: -4px;
        border-radius: 0;
    }
    
    .btp {
        padding: 0.5em;
        background-color: #cf1302;
        margin-left: -4px;
    }
    
    .batiment {
        padding: 0.5em;
        background-color:#f95b4C;
        margin-left: -4px;
        border-radius: 0em 0em 1em 0em;
    }
    
    .location {
        padding: 0.5em;
        background-color:#ea2816;
        margin-left: -4px;
    }
    #logo {
        width: 70%;
        margin-left: 3em;
    }

    .marques-a {
        padding: 1em;
    }

    .slider-img{
        height: 100px;
        width: 60%;
        margin: auto;
    }

    .slider-img img {
        vertical-align: middle;
    }

    #slider {
        position: relative;
    }

    #btnLeft, #btnRight {
        background-color: transparent;
        color: #F86624;
        border: none;
        font-weight: bold;
    }

    #btnLeft{
        position: absolute;
        left: 35%;
        top: 25%;
    }

    #btnRight{
        position: absolute;
        right: 35%;
        top: 25%;
    }


    .card-text{
       border-radius: 1em 1em 1em 1em;
    }

    .img-border {
        border-radius: 1em 0em 0em 1em; 
    }
}  


@media screen and (min-width: 1200px) {
    .linkContainer a{
        font-size: 12.8px;
    }

    .linkContainer{
        position: absolute;
        bottom: 5px;
        right: 0;
    }
}  
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
